

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catchText {
    font-family: advent pro;
    font-weight: 500;
}

.auth {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    align-items: flex-end;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminButton {
    position: fixed;
    top: 10px;
    left: 10px; 
}