.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw; 
    max-width: 100%;
    padding: 0 10px; 
    box-sizing: border-box;

}

.arrows {
    background: none;
    color: #963d5b;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    width: 50px;
    height: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.phrase {
    font-size: 1em;
    margin-bottom: 0;
}

.autor {
    font-style: italic;
    margin-top: 0;
}
