.menu {
    width: 100%;
    position: sticky;
    top: 0;
    background: #f9e3e3; /* important so it doesn't overlap weirdly */
    z-index: 1000;
    
}

.links {
    display: flex;
    align-content: space-evenly;
    font-family:  "Charm", cursive;
    width: 100%;
    color: secondary;
    justify-content: space-between;
    color: #963d5b;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 0.9em;

}

.line {
    width: 90%;
    margin: 0 auto;
}

.menu a {
    text-decoration: none;
    color: inherit;
    
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

html {
  scroll-behavior: smooth;
}