.menu {
    display: flex;
    align-content: space-evenly;
    font-family:  "Charm", cursive;
    width: 100%;
    color: secondary;
    justify-content: space-between;
    color: #963d5b;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 0.9em;
    
}

.menu a {
    text-decoration: none;
    color: inherit;
    
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}